---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../config';

export interface Props {
	content: {
		title: string;
		description: string;
		published?: string;
		modified?: string;
		timeToRead?: number;
		heroImage?: string;
	};
}

const {
	content: { title, description, published, modified, timeToRead, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE + ' | ' + title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			.content hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
		<style is:global>
			/* is:global is due to bug */
			@media all and (orientation: landscape) {
				/* Only do this for landscape viewports */
			.content p img {
				max-width: 50%;
				float: left;
				margin-right: 2ch;
				margin-bottom: 0.5em;
			}
			}
			/* Commented: We don't even have the alt-texts in the Markdown + doesn't work because CSS */
			/*.content p img + * {
				font-size: 0.75em
			}*/
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				{
					published && (
						<time>
							{new Date(published)
							.toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
							})}
						</time>
					)
				}
				{
					published && timeToRead && <>&#x2022;</>
				}
				{
					timeToRead && <>{timeToRead} min. read</>
				}
				{
					modified && (
						<div>
							<i>Last updated on <time>{new Date(modified)
								.toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
								})}</time></i>
						</div>
					)
				}
				<hr />
				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
